*.pyc
*.log
node_modules
coverage/
eamena/logs
eamena/export_deliverables
eamena/cantaloupe/*
eamena/staticfiles
eamena/media/packages
eamena/media/build/
eamena/uploadedfiles/*
eamena/settings_local.py
eamena/settings_custom.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
