*.djcache
*.log
*.pot
*.pyc
*.sublime*
.DS_Store
.vscode/
CACHE
Procfile
__pycache__
_pkg_*
eamena/__pycache__
eamena/arches.log
eamena/cantaloupe/*
eamena/logs/*.log
eamena/media/build
eamena/media/node_modules
eamena/media/packages
eamena/node_modules
eamena/ontologies/*.xml
eamena/settings_local.py
eamena/static
eamena/staticfiles
eamena/system_settings
eamena/uploadedfiles
eamena/webpack/webpack-stats.json
eamena/webpack/webpack-user-config.js
nohup.out
.tmp
